<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Admin - Spicy Food</title>

</head>
<body>
    <div class="food-admin">
        <!-- Header menu -->
        <div class="header-menu">
            <div class="header-menu__home">
                <a href="../index.html">
                    <i class="icon icon-home"></i>
                    Spicy Food
                </a>
            </div>
            <div class="header-menu__notice">
                <a href="#">
                    <i class="icon icon-notice"></i>
                     0
                </a>
            </div>
            <div class="header_menu__addnew">
                <a href="./new-post.html">
                    <i class="icon icon-addnew"></i>
                    New
                </a>
            </div>
            <div class="header_menu__user">
                <a href="./user-profile.html">
                    <i class="icon icon-user"></i>
                    Hello, Miizoo
                </a>
            </div>
        </div>
        <div class="food-wrapper dashboard-wrapper">
            <!-- left menu food-->
            <div class="food-left-menu">
                <ul id="admin_menu">
                    <li class="food-first-item food-menu-item active-menu">
                        <a href="./dashboard.html">
                            <i class="icon icon-dashboard"></i>
                            <span class="menu-name">Dashboard</span>
                        </a>
                    </li>
                    <li class="food-menu-item has-sub-menu">
                        <a href="./all-post.html">
                            <i class="icon icon-post"></i>
                            <span class="menu-name">Recipe</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="./all-post.html">All recipe</a>
                            </li>
                            <li>
                                <a href="./new-post.html">Add new</a>
                            </li>
                            <li>
                                <a href="./categories.html">Categories</a>
                            </li>
                            <li>
                                <a href="./tag.html">Tags</a>
                            </li>
                        </ul>
                    </li>
                    <li class="food-menu-item has-sub-menu">
                        <a href="./ingredients.html">
                            <i class="icon icon-post"></i>
                            <span class="menu-name">Ingredients</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="./ingredients.html">All ingredients</a>
                            </li>
                            <li>
                                <a href="./add-ingredient.html">Add new</a>
                            </li>
                            <li>
                                <a href="">Categories</a>
                            </li>
                        </ul>
                    </li>
                    <li class="food-menu-item has-sub-menu">
                        <a href="./media-libary.html">
                            <i class="icon icon-photo"></i>
                            <span class="menu-name">Media</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="./media-libary.html">Libary</a>
                            </li>
                            <li>
                                <a href="#">Add new</a>
                            </li>
                        </ul>
                    </li>
                    <li class="food-menu-item has-sub-menu">
                        <a href="./comment.html">
                            <i class="icon icon-notice"></i>
                            <span class="menu-name">Comments</span>
                        </a>
                    </li>
                    <li class="food-menu-item has-sub-menu">
                        <a href="./user.html">
                            <i class="icon icon-user"></i>
                            <span class="menu-name">User</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="./user.html">All User</a>
                            </li>
                            <li>
                                <a href="./add-user.html">Add new</a>
                            </li>
                            <li>
                                <a href="./user-profile.html">Your Profile</a>
                            </li>
                        </ul>
                    </li>
                    <li class="food-menu-item has-sub-menu">
                        <a href="#">
                            <i class="icon icon-setting"></i>
                            <span class="menu-name">Setting</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Content  -->
            <div class="food-content">
                <div class="breadcrumb">
                </div>
                <h1>Dashboard</h1>
                <div class="wrap">
                    <div class="dashboard-wrap">
                        <div class="postbox-container" id="postbox-1">
                            <div class="inside">
                                <div id="activity-widget">
                                    <div id="published-posts" class="activity-block">
                                        <h3>Recently Published</h3>
                                        <ul>
                                            <li>
                                                <span>Dec 31st 2019, 4:51 am</span>
                                                <a href="#" aria-label="Edit “Chào tất cả mọi người!”">Chào tất cả mọi người!</a>
                                            </li>
                                            <li>
                                                <span>Nov 19th 2015, 10:26 am</span>
                                                <a href="#" aria-label="Edit “Welcome to Flatsome”">Welcome to Flatsome</a>
                                            </li>
                                            <li>
                                                <span>Oct 13th 2015, 9:13 pm</span>
                                                <a href="#" aria-label="Edit “Just another post with A Gallery”">Just another post with A Gallery</a>
                                            </li>
                                            <li>
                                                <span>Oct 13th 2015, 7:28 pm</span> <a href="#" aria-label="Edit “A Simple Blog Post”">A Simple Blog Post</a>
                                            </li>
                                            <li><span>Jan 1st 2014, 4:47 pm</span>
                                                <a href="#" aria-label="Edit “A Video Blog Post”">A Video Blog Post</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postbox-container" id="postbox-2">
                            <div class="inside">
                                <div id="activity-widget-2">
                                    <div id="published-posts-2" class="activity-block">
                                        <h3>Recently Published</h3>
                                        <ul>
                                            <li>
                                                <span>Dec 31st 2019, 4:51 am</span>
                                                <a href="#" aria-label="Edit “Chào tất cả mọi người!”">Chào tất cả mọi người!</a>
                                            </li>
                                            <li>
                                                <span>Nov 19th 2015, 10:26 am</span>
                                                <a href="#" aria-label="Edit “Welcome to Flatsome”">Welcome to Flatsome</a>
                                            </li>
                                            <li>
                                                <span>Oct 13th 2015, 9:13 pm</span>
                                                <a href="#" aria-label="Edit “Just another post with A Gallery”">Just another post with A Gallery</a>
                                            </li>
                                            <li>
                                                <span>Oct 13th 2015, 7:28 pm</span> <a href="#" aria-label="Edit “A Simple Blog Post”">A Simple Blog Post</a>
                                            </li>
                                            <li><span>Jan 1st 2014, 4:47 pm</span>
                                                <a href="#" aria-label="Edit “A Video Blog Post”">A Video Blog Post</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postbox-container" id="postbox-3">
                            <div class="inside">
                                <div id="activity-widget-3">
                                    <div id="published-posts-3" class="activity-block">
                                        <h3>Recently Published</h3>
                                        <ul>
                                            <li>
                                                <span>Dec 31st 2019, 4:51 am</span>
                                                <a href="#" aria-label="Edit “Chào tất cả mọi người!”">Chào tất cả mọi người!</a>
                                            </li>
                                            <li>
                                                <span>Nov 19th 2015, 10:26 am</span>
                                                <a href="#" aria-label="Edit “Welcome to Flatsome”">Welcome to Flatsome</a>
                                            </li>
                                            <li>
                                                <span>Oct 13th 2015, 9:13 pm</span>
                                                <a href="#" aria-label="Edit “Just another post with A Gallery”">Just another post with A Gallery</a>
                                            </li>
                                            <li>
                                                <span>Oct 13th 2015, 7:28 pm</span> <a href="#" aria-label="Edit “A Simple Blog Post”">A Simple Blog Post</a>
                                            </li>
                                            <li><span>Jan 1st 2014, 4:47 pm</span>
                                                <a href="#" aria-label="Edit “A Video Blog Post”">A Video Blog Post</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="./js/function.js"></script>
</body>
</html>