<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../source/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="../source/Bootstrap/js/bootstrap.min.js"></script>
    <script src="../source/JQuery/jquery.js"></script>
    <title>Admin - Spicy Food</title>

</head>
<body>
<div class="food-admin">
    <!-- Header menu -->
    <div class="header-menu">
        <div class="header-menu__home">
            <a href="#">
                <i class="icon icon-home"></i>
                Spicy Food
            </a>
        </div>
        <div class="header-menu__notice">
            <a href="#">
                <i class="icon icon-notice"></i>
                0
            </a>
        </div>
        <div class="header_menu__addnew">
            <a href="/">
                <i class="icon icon-addnew"></i>
                New
            </a>
        </div>
        <div class="header_menu__user">
            <a href="/">
                <i class="icon icon-user"></i>
                Hello, Miizoo
            </a>
        </div>
    </div>
    <div class="food-wrapper">
        <!-- left menu food-->
        <div class="food-left-menu">
            <ul id="admin_menu">
                <li class="food-first-item food-menu-item">
                    <a href="./dashboard.html">
                        <i class="icon icon-dashboard"></i>
                        <span class="menu-name">Dashboard</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="./all-post.html">
                        <i class="icon icon-post"></i>
                        <span class="menu-name">Recipe</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./all-post.html">All recipe</a>
                        </li>
                        <li>
                            <a href="./new-post.html">Add new</a>
                        </li>
                        <li>
                            <a href="./categories.html">Categories</a>
                        </li>
                        <li>
                            <a href="./tag.html">Tags</a>
                        </li>
                    </ul>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="./ingredients.html">
                        <i class="icon icon-post"></i>
                        <span class="menu-name">Ingredients</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./ingredients.html">All ingredients</a>
                        </li>
                        <li>
                            <a href="./add-ingredient.html">Add new</a>
                        </li>
                        <li>
                            <a href="">Categories</a>
                        </li>
                    </ul>
                </li>
                <li class="food-menu-item has-sub-menu  active-menu">
                    <a href="./media-libary.html">
                        <i class="icon icon-photo"></i>
                        <span class="menu-name">Media</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./media-libary.html">Libary</a>
                        </li>
                        <li class=" active-menu">
                            <a href="./add-media.html">Add new</a>
                        </li>
                    </ul>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="./comment.html">
                        <i class="icon icon-notice"></i>
                        <span class="menu-name">Comments</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="./user.html">
                        <i class="icon icon-user"></i>
                        <span class="menu-name">User</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./user.html">All User</a>
                        </li>
                        <li>
                            <a href="./add-user.html">Add new</a>
                        </li>
                        <li>
                            <a href="./user-profile.html">Your Profile</a>
                        </li>
                    </ul>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-setting"></i>
                        <span class="menu-name">Setting</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Content  -->
        <div class="food-content media-wrapper">
            <div class="breadcrumb">
                <a href="./dashboard.html">Spicy Food</a> / <a href="./media-libary.html">Media</a> / <span>Edit media</span>
            </div>
            <h1>Edit Media</h1>
            <div class="wrap">
                <div class="post">
                    <form action="" method="post">
                        <input type="text" name="post__title" id="post-title" placeholder="bai-viet-mainboard-msi-meg-z490-golike_10.jpg">
                        <img src="../content/image/s1.jpg" alt="">
                        <div class="post__submit">
                            <button type="submit">Update</button>
                        </div>

                    </form>
                </div>
                <!--  Side bar   -->
                <div class="side-bar">
                    <div class="side-bar__publish">
                        <h3>Save</h3>
                        <div class="side-bar__publish-content">
                            <div class="publish-content__date">
                                <i class="icon icon-date"></i>
                                <span>Post on</span> <b>Mar 1, 2020 at 19:10</b>
                                <a href="#">Edit</a>
                            </div>
                            <div class="publish-content__url">
                                <label for="attachment_url">File URL:</label>
                                <input type="text" class="widefat urlfield" readonly="readonly" name="attachment_url" id="attachment_url" value="https://nguyenvu.store/wp-content/uploads/2020/05/bai-viet-mainboard-msi-meg-z490-golike_10.jpg">
                                <p>File type: JPG</p>
                                <p>File size: 351 KB</p>
                                <p>File Dimensions: 1650 × 750</p>
                            </div>

                            <div class="publish-content__edit">
                                <a href="#">Move to trash</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="./js/function.js"></script>
</body>
</html>