<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../../source/ckeditor/ckeditor.js"></script>
    <title>Admin - Spicy Food</title>

</head>
<body>
<div class="food-admin">
    <!-- Header menu -->
    <div class="header-menu">
        <div class="header-menu__home">
            <a href="#">
                <i class="icon icon-home"></i>
                Spicy Food
            </a>
        </div>
        <div class="header-menu__notice">
            <a href="#">
                <i class="icon icon-notice"></i>
                0
            </a>
        </div>
        <div class="header_menu__addnew">
            <a href="/">
                <i class="icon icon-addnew"></i>
                New
            </a>
        </div>
        <div class="header_menu__user">
            <a href="/">
                <i class="icon icon-user"></i>
                Hello, Miizoo
            </a>
        </div>
    </div>
    <div class="food-wrapper">
        <!-- left menu food-->
        <div class="food-left-menu">
            <ul id="admin_menu">
                <li class="food-first-item food-menu-item">
                    <a href="#">
                        <i class="icon icon-dashboard"></i>
                        <span class="menu-name">Dashboard</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu active-menu">
                    <a href="#">
                        <i class="icon icon-post"></i>
                        <span class="menu-name">Post</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./all-post.html.html">All post</a>
                        </li>
                        <li>
                            <a href="./new-post.html">Add new</a>
                        </li>
                        <li>
                            <a href="#">Categories</a>
                        </li>
                        <li>
                            <a href="#">Tags</a>
                        </li>
                    </ul>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-photo"></i>
                        <span class="menu-name">Media</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">All post</a>
                        </li>
                        <li>
                            <a href="#">Add new</a>
                        </li>
                        <li>
                            <a href="#">Categories</a>
                        </li>
                        <li>
                            <a href="#">Tags</a>
                        </li>
                    </ul>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-page"></i>
                        <span class="menu-name">Pages</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-notice"></i>
                        <span class="menu-name">Comments</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-analyst"></i>
                        <span class="menu-name">Analytics</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-user"></i>
                        <span class="menu-name">User</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-setting"></i>
                        <span class="menu-name">Setting</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Content  -->
        <div class="food-content">
            <div class="wrap">

                <div class="gallery-all">
                    <h1>ALL POST</h1>
                    <ul class="sub-choice">
                        <li class="all">
                            <a href="#" class="current">
                                All
                                <span class="count">(11)</span>
                                |
                            </a>
                        </li>
                        <li class="public">
                            <a href="#" class="current">
                                Public
                                <span class="count">(7)</span>
                                |
                            </a>
                        </li>
                        <li class="draft">
                            <a href="#" class="current">
                                Draft
                                <span class="count">(13)</span>
                                |
                            </a>
                        </li>
                        <li class="private">
                            <a href="#" class="current">
                                Private
                                <span class="count">1</span>
                            </a>
                        </li>
                    </ul>
                    <form action="" method="get" id="post_filter">
                        <p class="search-box">
                            <label class="screen-reader-text" for="post-search-input">Search Pages:</label>
                            <input type="search" id="post-search-input" name="" value="">
                            <input type="submit" id="search-submit" class="button" value="Search Pages">
                        </p>
                        <div class="tablenav top">
                            <div class="pagination_links">
                                <div class="pagination" id="pagination">
                                    <span class="displaying-num">22 items</span>
                                    <a href="#" class="pagination_item">&laquo;</a>
                                    <a href="#" class="pagination_item active">1</a>
                                    <a href="#" class="pagination_item">2</a>
                                    <a href="#" class="pagination_item">3</a>
                                    <a href="#" class="pagination_item">4</a>
                                    <a href="#" class="pagination_item">5</a>
                                    <a href="#" class="pagination_item">6</a>
                                    <a href="#" class="pagination_item">&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  Side bar   -->
            </div>
        </div>
    </div>

</div>
<script src="../js/function.js"></script>
</body>
</html>