<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../source/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="../source/Bootstrap/js/bootstrap.min.js"></script>
    <script src="../source/JQuery/jquery.js"></script>
    <title>Admin - Spicy Food</title>

</head>
<body>
<div class="food-admin">
    <!-- Header menu -->
    <div class="header-menu">
        <div class="header-menu__home">
            <a href="#">
                <i class="icon icon-home"></i>
                Spicy Food
            </a>
        </div>
        <div class="header-menu__notice">
            <a href="#">
                <i class="icon icon-notice"></i>
                0
            </a>
        </div>
        <div class="header_menu__addnew">
            <a href="/">
                <i class="icon icon-addnew"></i>
                New
            </a>
        </div>
        <div class="header_menu__user">
            <a href="/">
                <i class="icon icon-user"></i>
                Hello, Miizoo
            </a>
        </div>
    </div>
    <div class="food-wrapper">
        <!-- left menu food-->
        <div class="food-left-menu">
            <ul id="admin_menu">
                <li class="food-first-item food-menu-item">
                    <a href="#">
                        <i class="icon icon-dashboard"></i>
                        <span class="menu-name">Dashboard</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu active-menu">
                    <a href="#">
                        <i class="icon icon-post"></i>
                        <span class="menu-name">Post</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./all-post.html.html">All post</a>
                        </li>
                        <li>
                            <a href="./new-post.html">Add new</a>
                        </li>
                        <li>
                            <a href="#">Categories</a>
                        </li>
                        <li>
                            <a href="#">Tags</a>
                        </li>
                    </ul>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-photo"></i>
                        <span class="menu-name">Media</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Libary</a>
                        </li>
                        <li>
                            <a href="#">Add new</a>
                        </li>
                    </ul>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-page"></i>
                        <span class="menu-name">Pages</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-notice"></i>
                        <span class="menu-name">Comments</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-analyst"></i>
                        <span class="menu-name">Analytics</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-user"></i>
                        <span class="menu-name">User</span>
                    </a>
                </li>
                <li class="food-menu-item has-sub-menu">
                    <a href="#">
                        <i class="icon icon-setting"></i>
                        <span class="menu-name">Setting</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Content  -->
        <div class="food-content">
            <div class="breadcrumb">
                <a href="./dashboard.html">Spicy Food</a> / <a href="./user.html">User</a>
            </div>
            <h1>All User</h1>
            <div class="wrap">
                <div class="post-all">
                    <ul class="sub-choice">
                        <li class="all">
                            <a href="#" class="current">
                                All
                                <span class="count">(11)</span>
                                |
                            </a>
                        </li>
                        <li class="public">
                            <a href="#" class="current">
                                Administrator
                                <span class="count">(7)</span>
                                |
                            </a>
                        </li>
                        <li class="draft">
                            <a href="#" class="current">
                                Editor
                                <span class="count">(13)</span>
                                |
                            </a>
                        </li>
                        <li class="private">
                            <a href="#" class="current">
                                Subscriber
                                <span class="count">(1)</span>
                            </a>
                        </li>
                    </ul>
                    <form action="" method="get" id="post_filter">
                        <p class="search-box">
                            <label class="screen-reader-text" for="post-search-input">Search User:</label>
                            <input type="search" id="post-search-input" name="" value="">
                            <input type="submit" id="search-submit" class="button" value="Search">
                        </p>
                        <div class="tablenav top">
                            <div class="pagination_links">
                                <ul class="pagination">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="table-view">
                            <div class="row-header">
                                <div class="col-select">
                                    <input id="cb-select-all-1" type="checkbox">
                                </div>
                                <div class="col-username">
                                    <span>Username</span>
                                </div>
                                <div class="col-name">
                                    <span>Name</span>
                                </div>
                                <div class="col-email">
                                    <span>Email</span>
                                </div>
                                <div class="col-role">
                                    <span>Role</span>
                                </div>
                                <div class="col-date">
                                    <span>Posts</span>
                                </div>
                            </div>

                            <div class="row-content">
                                <div class="col-select">
                                    <input type="checkbox">
                                </div>
                                <div class="col-username">
                                    <a href=""><img src="../content/img/avt/user-1/pasta.png" alt="">
                                        <span>root</span>
                                    </a>
                                    <div class="row-content__action">
                                        <a href="#">Edit</a> | <a href="#" class="color-red">Delete</a> | <a href="#">View</a>
                                    </div>
                                </div>
                                <div class="col-name">
                                    <span><a href="#">Root</a></span>
                                </div>

                                <div class="col-email">
                                    <span><a href="#">minhmuofficial@gmail.com</a></span>
                                </div>
                                <div class="col-role">
                                    <span>Administrator</span>
                                </div>
                                <div class="col-date">
                                    <span>2019/12/31</span>
                                </div>
                            </div>
                            <div class="row-content">
                                <div class="col-select">
                                    <input type="checkbox">
                                </div>
                                <div class="col-username">
                                    <a href=""><img src="../content/img/avt/user-1/pasta.png" alt="">
                                        <span>root</span>
                                    </a>
                                    <div class="row-content__action">
                                        <a href="#">Edit</a> | <a href="#" class="color-red">Delete</a> | <a href="#">View</a>
                                    </div>
                                </div>
                                <div class="col-name">
                                    <span><a href="#">Root</a></span>
                                </div>

                                <div class="col-email">
                                    <span><a href="#">minhmuofficial@gmail.com</a></span>
                                </div>
                                <div class="col-role">
                                    <span>Administrator</span>
                                </div>
                                <div class="col-date">
                                    <span>2019/12/31</span>
                                </div>
                            </div>
                            <div class="row-content">
                                <div class="col-select">
                                    <input type="checkbox">
                                </div>
                                <div class="col-username">
                                    <a href=""><img src="../content/img/avt/user-1/pasta.png" alt="">
                                        <span>root</span>
                                    </a>
                                    <div class="row-content__action">
                                        <a href="#">Edit</a> | <a href="#" class="color-red">Delete</a> | <a href="#">View</a>
                                    </div>
                                </div>
                                <div class="col-name">
                                    <span><a href="#">Root</a></span>
                                </div>

                                <div class="col-email">
                                    <span><a href="#">minhmuofficial@gmail.com</a></span>
                                </div>
                                <div class="col-role">
                                    <span>Administrator</span>
                                </div>
                                <div class="col-date">
                                    <span>2019/12/31</span>
                                </div>
                            </div>
                            <div class="row-content">
                                <div class="col-select">
                                    <input type="checkbox">
                                </div>
                                <div class="col-username">
                                    <a href=""><img src="../content/img/avt/user-1/pasta.png" alt="">
                                        <span>root</span>
                                    </a>
                                    <div class="row-content__action">
                                        <a href="#">Edit</a> | <a href="#" class="color-red">Delete</a> | <a href="#">View</a>
                                    </div>
                                </div>
                                <div class="col-name">
                                    <span><a href="#">Root</a></span>
                                </div>

                                <div class="col-email">
                                    <span><a href="#">minhmuofficial@gmail.com</a></span>
                                </div>
                                <div class="col-role">
                                    <span>Administrator</span>
                                </div>
                                <div class="col-date">
                                    <span>2019/12/31</span>
                                </div>
                            </div>
                            <div class="row-content">
                                <div class="col-select">
                                    <input type="checkbox">
                                </div>
                                <div class="col-username">
                                    <a href=""><img src="../content/img/avt/user-1/pasta.png" alt="">
                                        <span>root</span>
                                    </a>
                                    <div class="row-content__action">
                                        <a href="#">Edit</a> | <a href="#" class="color-red">Delete</a> | <a href="#">View</a>
                                    </div>
                                </div>
                                <div class="col-name">
                                    <span><a href="#">Root</a></span>
                                </div>

                                <div class="col-email">
                                    <span><a href="#">minhmuofficial@gmail.com</a></span>
                                </div>
                                <div class="col-role">
                                    <span>Administrator</span>
                                </div>
                                <div class="col-date">
                                    <span>2019/12/31</span>
                                </div>
                            </div>

                        </div>
                        <div class="tablenav top">
                            <div class="pagination_links">
                                <ul class="pagination">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  Side bar   -->
            </div>
        </div>
    </div>

</div>
<script src="./js/function.js"></script>
</body>
</html>